.SideDrawer{
    position: fixed;
    width: 17%;
    /* max-width: 70%; */
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #d1d3e2;
    padding: 0px 0px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    /* display: block; */
    font-family: acme;
}
@media (max-width:760px){
    .SideDrawer{
        max-width: 20%;
    }
}
@media (max-width:1220px){
    .side-list span{
       display: none;
       text-align: center;
    }
}


.Open{
    transform: translateX(0);
}
.Close{
    transform: translateX(-100%);
}

.side-list{
    list-style: none;
    text-align: left;
    border-bottom: 1px solid black;

    padding:10px;
}
.side-list a{
    color: black;
    text-decoration: none;
}
.side-list a:hover{
    color: gray;
    text-decoration: none;
}
.side-in-list{
    list-style: none;
    text-align: center;
    padding: 5px; 
}
.side-in-list p{
    color: gray;
    margin-bottom: 0px;
}
.side-in-list a{
    color: black;
}
.back-list{
    background-color: white;
    border-radius: 5px;
    margin:5px auto;

}
@media (max-width:460px){
    .back-list{
        max-width: 40%;
    }
}

.show{
    margin-bottom: 30px !important;
    position: relative !important;
    transform: translate3d(0px,0px,0px) !important; 
    top: 10px !important;
    left: 0px !important;
    will-change: none !important;
}
@media (max-width:460px){
    .show ul{
        left: 70px !important;
        position: absolute !important;
    }
}

.slider-head{
    padding: 10px;
}
.font-awsome {
    font-size: 23px;

}