.first-row{
    padding: 30px !important;
    background-color: #211f1f;
    width: 95% !important;
    margin: 10px auto !important;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 1px 1px 3px 3px white;

}
.paragraph-box{
    font-size: 20px;
    font-family: Nunito;
    padding: 10px 0;
}
.first-box {
    width: 100%;
    background: white;
    border-left: .25rem solid #e74a3b;
    border-radius: .35rem;
    padding: 20px 10px;
    text-align: center;
    color: black !important;
    margin:  5px;
}
.second-box{
    max-width: 100%;
    background: white;
    border-left: .25rem solid #1cc88a;
    border-radius: .35rem;
    padding: 20px 10px;
    text-align: center;
    color: black !important;
    margin:  5px;

}
.third-box{
    max-width: 100%;
    background: white;
    border-left: .25rem solid #4e73df;
    border-radius: .35rem;
    padding: 20px 10px;
    text-align: center;
    color: black !important;
    margin: 5px;
}
.fourth-box{
    width: 100%;
    height: auto;
    background: white;
    border-left: .25rem solid #f6c23e;
    border-radius: .35rem;
    padding: 20px 10px;
    text-align: center;
    color: black !important;
    margin: 5px;
}
.chart-style{
    width: 95% !important;
    padding: 30px 20px !important;
    border: 2px solid black;
    margin: 20px auto  !important;
    text-align: center;
    box-shadow: 1px 1px 5px 5px black;
}
.load-and-radar{
    width: 95% !important;
    padding: 30px 20px !important;
    border: 2px solid black;
    margin: 20px auto  !important;
    text-align: center;
    background-color: #6e707e;
    box-shadow: 1px 1px 5px 5px rgba(69, 65, 65, 0.85);
}
.loading{
    background-color:white;
    padding:30px 30px !important;
    margin: 10% 0;
}
.rotate-icon{
    transform: rotate(90deg);
}