.summary-table-satellite th{
    padding: 10px !important;
    background-color: #4CAF50;
    font-family: Nunito;
    border: 1px solid black;


}
.row-width{
    width: 80%;
    margin-left:5%;
}
.summary-table-satellite{
    font-family: Nunito;
    width: 100%;
    font-size: 16px;
    margin: 40px;
    padding: 60px;

}
.summary-table-satellite td{
    padding: 5px 15px !important;
    color: #858796;
    opacity: 0.9;
}
.lighten-btn{
    color: #3a3b45;
    background-color: #f8f9fc;
    border-color: #f8f9fc;
    margin: 2px 5px;
}
.facebook-btn{
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
}
.btn-form{
    margin-left: 10%;
}
.left-ok-btn{
    margin: 30px 5px;
    float: left;
}