.general-tab{
    border: 5px solid black;
    border-radius: 29px;
    padding:1.5rem !important;
    position: relative !important;
    margin: 0 auto !important;
    text-align: center !important;
}

tr {
    display: table-row;
    padding:  3px 60px 3px 10px !important;
}


.table-activity {
    color: black;
    height: 200px !important;
    font-family: Fredoka One;
    margin: auto !important; ;
}

.even {
    background: #fff5e4;
}

.satel,
.general {
    background-color: rgba(0, 0, 0, 0.81);
    color: white !important;
}

.general:hover {
    color: black !important;
}

td {
    border: 1px solid black;
    padding:  3px 60px 3px 10px !important;
    background-color: white;
    text-align: left !important;
}

.in-ou>p {
    color: black;
    font-family: "acme";
    text-align: center;
}

.cellLeft {
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid #AAAAAA;
}

.cellCenter {
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid #AAAAAA;
}

.cellRight {
    text-align: right;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid #AAAAAA;
}

.dd {
    /*                        position: fixed !important;*/
    top: 0;
    height: 70px;
    /*            margin-top: 10px;*/
    z-index: 500;
    /*                        width: 81%;*/
}

.svs {
    border: 1px solid #AAAAAA;
    text-align: center;
    font-size: 80%;
    background-color: #8fabcf;
}

.display-none {
    display: none !important;
}

.content-row {
    /*            margin-top: 100px;*/
}

.filter-cadr>i {
    margin-left: 7px;
}

.font-size {
    font-size: 25px !important;
}

.mt {
    margin-top: 50px !important;
}

.menu-1 {
    position: fixed !important;
}

.gen {
    padding: 20px;
    border: 1px solid black;
    background-color: #8fabcf;
}

.cellLeft {
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid #191111;
    /*            background-color: #8fabcf;*/
}

th {
    display: table-cell;
    padding:  10px 60px 10px 10px !important;
    vertical-align: inherit;

}

.mb {
    margin-bottom: 50px;

}

.icon-feed {
    color: white !important;
}