.traking-main-parent{
    border:4px solid black;
    border-radius: 29px;
    padding: 10px;
    background-color: #858796;
}
.nav-tabs{
    max-width: max-content;
    margin:25px auto ;
}
.nav-link.active{
    background-color: #89d3e9 !important;
    border-radius: 0 !important;
    color: black !important;
}
.traking-table{
    color: black;
    width: 90%;
    margin: auto;
    font-family: Fredoka One;
}
.traking-table tr th{
    border: none !important;
}
.traking-table tr td{
    font-weight: bold;
    text-align: left;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: white
}

th a{
color: black;
font-weight: normal;
}

th a:hover {
color: gray;
}
th{
    text-align: center;
}
.graph-tab{
    padding: 50px 30px !important;
}
.radar-tab{
    margin: auto;
    width: 30%;
}
.glonass-tab{
    width: 60% !important;
}