.antenna-main-parent {
    border-radius: 29px;
    border: 5px solid black;
    background-color: #858796 !important;
         
}
.antenna-table {
    color: black;
    width: 90%;
    margin: auto;
    font-family: Fredoka One;
   
}
.antenna-table tr td {
    text-align: left;
    color: white;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: rgba(0, 0, 0, 0.80);
}
.inp{
max-width: max-content;;
}
.mb {
    /* margin: 20px 0; */
    /* max-width: max-content; */
}

.antenna-btn{
    /* float: left; */
    margin-top: 20px;
}
.antenna-btn .mb{
    /* margin-left: 70px; */
}