.correction-main-parent{
    border-radius: 29px;
    border: 5px solid black;
    background-image: linear-gradient(to top, #3e3e3e, rgba(131, 125, 125, 0.83));
}
.correction-main-parent>p {
    color: white;
    font-family: "acme";
    text-align: center;
}

.correction-table {
    color: black;
    font-family: Fredoka One;
    margin:10px auto;
    width: 60%;
}
.correction-table tr td {
    border: 1px solid black;
    text-align: left;
    padding-left: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: white;
    color: black;
    font-family: "acme";
}
.correction-table tr th{
    border: 1px solid black;
}
#rtxCtrlsDiv{
    margin-top: 10px;
}
#rulesDiv{
    margin-top: 10px;
}
.corection-btn{
    margin-bottom: 10px;
}