.receiverposition-main-parent{
    border-radius: 29px;
    border: 5px solid black;
    background-image: linear-gradient(to top, #3e3e3e, rgba(131, 125, 125, 0.83));

}
.receiverposition-table{
margin-left: 20px;
}
.receiverposition-table tr td {
    text-align: left;
    color: black;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: white;
}
.recposition-btn{
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
}