.recivertraking-main-parent{
    border-radius: 29px;
    border: 5px solid black;
    background-image: url("../../assets/img/portfolio.jpg") !important;
}
.recivertraking-table{
    color: black;
    width: 95%;
    margin: auto;
    font-family: Fredoka One;
}
.recivertraking-table tr td{
    font-weight: bold;
    text-align: left;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: white
}
.white{
    color: white;
}