.inline-block {
    display: inline-block;
}
.refrence-main-parent {
    width: 100%;
    /*            height: 500px;*/
    border-radius: 29px;
    border: 5px solid black;
    background-color: #858796;
    /*            background-color: white;*/
}
.refrence-main-parent>p {
    color: black;
    font-family: "acme";
    text-align: center;
}

.mb{
   max-width: max-content;
    margin-bottom: 0 !important;
}
.refrence-table tr td {
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 16px;
    color: black;
    text-align: center;
    padding-bottom: 16px;
    background-color: gray;
}

.refrence-table {
    color: black;
    width: 80%;
    text-align: left;
    /* font-family: Fredoka One; */
    margin:auto;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding:0 2px;
    max-width: max-content;
    margin: auto;
}
form{
    float: left;
    text-align: center;
    background-color:transparent !important;
    width: 100%;
}

#checkradio{
padding-top: 12px;
    /* float: left; */
}