.summar-main-parent{
    width: 100%;
    /*            height: 500px;*/
    border-radius: 29px;
    border: 5px solid white;
    box-shadow: 1px 1px 5px 5px black;
    background-color: #858796;
    /*            background-color: white;*/
}
.summar-main-parent>p {
    color: black;
    font-family: "acme";
    text-align: center;
}

.summar-table {
    width: 90%;
    margin:10px auto;
    font-family: Fredoka One;
    border: 1px solid black;
   
}
.summar-table tr td{
    border: none;
    background-color: white;
    color: grey;
    text-align: left;
}
.summar-table tr td b{
    color: black;
}