.Toolbar{
    width: 100%;
    /* height: 80px; */
    position: relative;
    /* top: 0;
    right: 0; */
    background-color: #3a3b45;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    line-height:40px ;
    /* padding:20px 0; */
    font-size: 19px;
    box-sizing: border-box;
    z-index: 90;
    text-align: center;
    border-bottom: 3px solid #d1d3e2;
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
}
.Toolbar div{
    padding: 8px;
}
.border-right-head{
    border-right: 1px solid #707070;

}

.border-right-head a:hover{
    text-decoration: none;
}
.time{
    color: white;
    font-size: 13px;
}
@media (max-width:980px){
    .time{
       display: none;
    }
}

.filter-icon{
    font-size: 25px;
    padding: 10px;
    color: white;
}