/* .inout-main-parent{
    border-radius: 29px;
    border: 5px solid black;
} */
.inout-table{
    /* float: left; */
    color: black;
    /* font-family: Fredoka One; */
    width:90%;
    margin: auto;
}
.inout-table tr td{
    border: 1px solid #607d8b;
    text-align: center;
    padding-left: 10px;
    color: white;
    padding: 5px 0;
    background-color: black;
    font-family: "acme";
}
.inout-table tr th{
    border: 1px solid black;
    text-align: center;
    padding-left: 10px;
    color: black;
    padding: 5px 0;
    background-color: #2196f3;
}
.inout-form{
    text-align: left;
    margin-left: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.inout-form h5{
    text-align: left;
    margin-left: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
      
}
.inout-form input{
    max-width: max-content;
}
.margin-left-io{
    margin-left: 5% !important;
}