.network-main-parent{
    border-radius: 29px;
    border: 5px solid black;
    background-image: linear-gradient(to top, #3e3e3e, rgba(131, 125, 125, 0.83));

}

.network-table {
    color: black;
    /* font-family: Fredoka One; */
    width: 70%;
    margin: auto;
}
.network-table tr td{
    border: 1px solid black;
    text-align: left;
    padding-left: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: white;
    color: black;
    /* font-family: "acme"; */
}
.network-table tr th{
    border: 1px solid black;
    text-align: center;
    padding-left: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #4caf50;
    color: black;
    /* font-family: "acme"; */
}
.proxy-network{
    color: black;
    text-align: left;
    width: 70%;
    margin:20px auto;
}
.proxy-network ul li{
    list-style: none;
    text-align: center;
}
.eter-btn{
    margin: 10px 2px;
    border: none;
    border-radius: 2px;
}
.rout-btn{
    border: none;
    border-radius: 2px;
}
.dns-btn{
    margin: 10px 2px;
    border: none;
    border-radius: 2px;
}
/* --------tab-------- */
.tab{
    text-align: center;
}
.myTabs{
    text-align: center;
    color: white !important;
    background-color: black;
}

nav{
    background-color: black !important;
}
a{
    color: white;
    border: none !important;
    border-radius: none !important;
}
a:hover{
    color: white;
}

/* ------today-------- */
.nav-tabs{
    border: none;
    background-color: transparent !important;
    font-family: acme;
    max-width: max-content;
    
}
@media only screen and (max-width: 850px) {
    .nav-tabs { display: block;}	
      }
    .nav-link.active{
    background-color: #ff0000 !important;
    border-radius: 0 !important;
    color: black !important;
    

}

.myTabs{
    margin: 10px auto !important ;
}


.nav-link{
    border-radius: 0 !important;
    border:2px solid black !important;
    background-color:#19191c ;
    padding: 3px 50px !important;
}
.nav-link:hover{
    text-decoration: underline;
}

.gen_left{
    background-color: white !important;
}
/* ----ethernet------ */

.td-left{
text-align: left;
}
.td-left input{
    max-width: max-content;
    text-align: left;
    padding-left: 1.5px;
}
