.security-main-parent{
    border-radius: 29px;
    border: 5px solid black;
    background-color:#858796 ;
}
.security-table {
    color: black;
    /* font-family: Fredoka One; */
    width: 70%;
    margin:20px auto;
}
.security-table tr td{
    border: 1px solid black;
    text-align: left;
    padding-left: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-image: linear-gradient(to right, white,
    gray);
    color: black;
    /* font-family: "acme"; */
}
.security-table tr th{
    border: 1px solid black;
    text-align: center;
    padding-left: 10px;
    color: black;
}
.center{
    text-align: center !important;
}