.App{
  text-align: center;
  margin:0;
}
.main{
  padding: 0;
  background-color: #6d6f7d;
}
.main-center{
  padding: 25px;
  min-height: 1000px;
  margin: 20px auto;
}
.main-center div{
  padding: 0;

}
.sidenav{
  padding: 0;
  width: 100%;
}
.main-top{
  margin: auto;
}
.main-top div{
  padding:0;

}
.main-bottom{
  position: relative;
  margin: auto;
  padding: 20px 0;
  background-color: white;
}
.main-bottom div{
  padding-left: 0;
  padding-right: 0;
}
