.activity-main-parent{
    border:4px solid black;
    border-radius: 29px;
    padding: 10px;
    background-color: #858796;
}
.activity-main-parent div p {
    color: black;
    font-size: 2rem;
    font-family: "acme";
    text-align: center;
}

.activity-table {
    color: black;
    width: 100%;
    height: 200px;
    font-family: Fredoka One;
}

.activity-table tr td {
    font-weight: bold;
    text-align: left;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: white
}
