.identity-main-parent{
    border:4px solid black;
    border-radius: 29px;
    padding: 10px;
    background-color: #858796;
}
.identity-main-parent>p{
    color: black;
    font-size: 2rem;
    font-family: "acme";
    text-align: center;
}

.identity-table {
    color: black;
    width: 90%;
    margin: auto;
    font-family: Fredoka One;
}

.identity-table tr td {
    font-weight: bold;
    text-align: left;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: white
}
.identity-form form{
   text-align: left;
   padding-top: 10px;
   padding-left: 70px;
   padding-bottom: 20px;
}
