.position-main-parent{
    border:5px dashed black;
    border-radius: 29px;
    padding: 10px;
    background-color: #eaecf4;
}
.form-text {
    padding: 10px 0;
    color: black;
    font-size: 24px;
    font-family: "acme";
    text-align: center;
}

.position-table {
    color: black;
    width: 85%;
    margin: auto;
    font-family: "Fredoka One";
   
}
.position-table tr td {
  
    font-weight: bold;
    text-align: left;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: white;    
}
