.vector-main-parent {
    width: 100%;
    border-radius: 29px;
    padding: 20px;
    border: 5px solid black;
    text-align: left;
    background-color: #b7b9cc;
}
.vector-main-parent>p {
    color: #858796;
    font-size: 28px;
    font-family: "acme";
    text-align: left;
    padding: 5px 20px;
}

.vector-table {
    color: black;
    width: 90%;
    margin: auto;
    font-family: Fredoka One;
}
.vector-table tr td {
    font-weight: bold;
    text-align: left;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: white
}

.color {
    color: black;
    font-family: "acme";
    text-align: center;
    margin-top: 20px;
}